.container {
  padding: 16px;
}

.data-table {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background-color: white;
}

.heading-row {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #8c8c8c;
  letter-spacing: 0.15mm;
}

.data-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
}

.data-row:hover {
  background-color: #f5f5f5;
}

.heading-cell {
  width: 25%;
  text-align: left;
}

.data-cell {
  width: 25%;
  display: flex;
  align-items: center;
}

.logo {
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  margin-right: 8px;
}

.main-text {
  color: #03064d;
  font-size: 16px;
  font-weight: 600;
}

.sub-text {
  color: #8c8c8c;
  font-size: 14px;
}

.data-table-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  .data-table {
    display: none;
  }
  .data-table-sm {
    display: block;
  }
  .data-card-sm {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    padding: 12px;
  }
  .data-card-sm:hover{
    background-color: #f5f5f5;
  }
  .main-text{
    font-size: 14px;
    font-weight: 600;
    color: #03064d;
  }
  .sub-text{
    color: #8c8c8c;
    font-size: 12px; 
    margin-bottom: 4px;
  }
  .data-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  .data-item{
    flex: 1 0 calc(50% - 16px);
  }
}
